.footer-area {
  background-color: #fff;
  padding: 100px 0 30px 0;

  .footer-grid {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-gap: 50px;

    .footer-logo {
      h2 {
        font-size: 26px;
        text-transform: uppercase;
        color: #141414;
      }
    }

    .single-footer {
      h4 {
        font-size: 18px;
      }

      ul {
        padding-top: 30px;

        li {
          margin-bottom: 16px;
          font-size: 16px;

          a {
            text-decoration: none;
            color: #7c818d;
          }
        }
      }

      address {
        padding-top: 30px;
        color: #7c818d;
        font-size: 16px;
      }
    }
  }

  .footer-bottom {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 30% 45% 25%;
    grid-gap: 50px;

    span {
      font-size: 16px;
      color: #7c818d;
    }

    P {
      a {
        // text-decoration: none;
        color: #787878;
      }
    }

    ul {
      display: flex;

      li {
        margin-left: 30px;

        a {
          text-decoration: none;
          color: #7c818d;
        }
      }

      :first-child {
        margin-left: 0;
      }
    }
  }
}
